<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1>I'm in the Component</h1>
        <hr>
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
</div>
</div>
